{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

<header class="site-header">
{% if request.path != '/' %}
    <a href="{% url 'home' %}">Home</a>
{% endif %}

{% if request.resolver_match.url_name != "home" %}
    <a href="javascript:history.back()" class="back-btn">← Back</a>
{% endif %}


    <form method="post" action="{% url 'logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="logout-link">Logout</button>
	</form>


</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>