{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

<header class="site-header">
{% if request.path != '/' %}
    <a href="{% url 'home' %}">Home</a>
{% endif %}

{% if request.resolver_match.url_name != "home" %}
    <a href="javascript:history.back()" class="back-btn">← Back</a>
{% endif %}


    <div class="auth-links">
        {% if user.is_authenticated %}
            Logged in as {{ user.username }} |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>